<nav>
    <ul>
        <li><a href="{{ url_for('pages.index') }}">Home</a></li>
        {% if session["user"] %}
            <li><a href="{{ url_for('pages.account') }}">{{ g.user["username"] }}</a></li>
            <li><a href="{{ url_for('pages.create') }}">Shorten URL</a></li>
            <li><a href="{{ url_for('pages.my_links') }}">My Links</a></li>
            <li><a href="{{ url_for('pages.logout') }}">Logout</a></li>
        {% else %}
            <li><a href="{{ url_for('pages.signup') }}">Sign Up</a></li>
            <li><a href="{{ url_for('pages.login') }}">Login</a></li>
        {% endif %}
    </ul>
</nav>